# Analüütika andmebaas
POSTGRES_USER=EKI
POSTGRES_PASSWORD=ekipostgres
POSTGRES_DB=eki_postgres
DB_PORT_HOST=55432

# Airflow
AIRFLOW_UID=50000
AIRFLOW_USER=airflow
AIRFLOW_PASSWORD=airflow
AIRFLOW_DB=airflow
AIRFLOW_PORT_HOST=8080

# Streamlit dashboard
DASHBOARD_PORT_HOST=8501
DASHBOARD_AUTOREFRESH_SECONDS=60
